.db_container {
  display: flex;
  flex-direction: row;
}

.file_component {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  background-color: #ffffff;
}

.folder_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  margin: 20px;
}

@media (max-width: 400px) {
  .folder_container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .folder_container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .db_container {
    flex-direction: column;
    width: 215px;
  }
}
