.db_container {
  display: flex;
  align-items: center;
}

.file_component {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #ffffff;
  width: 100%;
  height: 350px;
}
