input[type="file"] {
  display: none;
}
.file_input {
  color: white;
  height: 50px;
  width: 205px;
  background-color: #248bea;
  border-radius: 4px;
  margin: auto;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.file_input:hover {
  background-color: #246bea;
}

.button_file_icon {
  position: relative;
  left: 25px;
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.08);
}
